<!DOCTYPE html>
<html lang="en">
<head>

     <title>Balázs's Resume - Profile</title>
     <link rel="icon" type="icon" href="/static/favicon.ico">
     

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Balázs Szalai">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="static/css/all.min.css">
     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/owl.carousel.min.css">
     <link rel="stylesheet" href="static/css/owl.theme.default.min.css">     

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="static/css/resume-style.css">     
</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <a class="navbar-brand" href="#">
              Balázs's Resume
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#intro" class="nav-link smoothScroll">Introduction</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">About Me</a>
                    </li>

                    <li class="nav-item">
                        <a href="#testimonials" class="nav-link smoothScroll">Skills</a>
                    </li>

                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">Contact</a>
                    </li>
                </ul>

                <div class="mt-lg-0 mt-3 mb-4 mb-lg-0">
                    <a href="static/Balázs_Szalai_CV.pdf" class="custom-btn btn" download>Download CV</a>
                </div>
            </div>

        </div>
    </nav>


    <!-- HERO -->
    <section class="hero d-flex flex-column justify-content-center align-items-center" id="intro">

         <div class="container">
            <div class="row">

                  <div class="mx-auto col-lg-5 col-md-5 col-10">
                      <img src="static/images/balázs.jpg" class="img-fluid" alt="Balázs Resume HTML Template">
                  </div>

                   <div class="d-flex flex-column justify-content-center align-items-center col-lg-7 col-md-7 col-12">
                        <div class="hero-text">

                            <h1 class="hero-title">👋 Hi, my name is Balázs!</h1>
                            <br>
                            <img src=static/images/github.png></img>
                            <a href="https://github.com/szal-balazs" class="github-link">                             
                              GitHub
                            </a>
                            <br>
                            <img src=static/images/email.png></img>
                            <a href="mailto: szal.balazs@gmail.com" class="email-link">
                              szal.balazs@gmail.com
                            </a>
                          
                        </div>
                    </div>

            </div>
        </div>
    </section>


    <section class="about section-padding" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-12">
                    <h3 class="mb-4">This is my Resume</h3>                    

                    <ul class="mt-4 mb-5 mb-lg-0 profile-list list-unstyled">
                        <li><strong>Full Name :</strong> Balázs Szalai </li>                  
                        
                        <li><strong>Email :</strong> szal.balazs@gmail.com</li>

                        <li><strong>Education :</strong> University of Szeged, Chemistry</li>

                        <li><strong>Programming language :</strong> Python</li>

                        <li><strong>Location :</strong> Budapest, Hungary</li>

                    </ul>
                </div>

                <div class="col-lg-5 mx-auto col-md-6 col-12">
                    <img src="static/images/just_a_picture.jpg" class="about-image img-fluid" alt="Balázs's Resume HTML Template">
                </div>

            </div>
            <div class="row about-third">
            	  <div class="col-lg-12 col-md-12 col-12">
                <h3>About me</h3>
                <p>I'm on a journey to become a developer, and my primary focus is on continuous learning and self-development. 
                  I'm a self-taught coder with Python as my main tool, drawing from my scientific background.
                  My real passion lies in using coding to solve practical problems and enhance my understanding.                  
                  My goal is to work on real life projects that challenge me, enabling me to learn and develop my skills further.
                  Whether it's crafting applications to streamline tasks or finding creative solutions to improve everyday life, 
                  I'm all about leveraging my coding skills to drive progress. 
                  Making a difference is important, but so is the journey of growth and discovery along the way.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- TESTIMONIAL -->
     <section class="testimonials section-padding" id="testimonials">
          <div class="container">
               <div class="row">

                    <div class="col-12">
                        <h3 class="mb-5 text-center">My skills</h3>

                        <div class="owl-carousel owl-theme" id="testimonials-carousel">
                            <div class="item">
                                <div class="testimonials-thumb d-flex">
                                    <div class="testimonials-image">
                                        <img src="static/images/thinking.png" class="img-fluid" alt="testimonials image">
                                    </div>

                                    <div class="testimonials-info">
                                        <h6 class="mb-0">Analitical thinker</h6>

                                        <p>I leverage analytical thinking honed through my scientific background to solve complex problems effectively.</p>                                      
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonials-thumb d-flex">
                                    <div class="testimonials-image">
                                        <img src="static/images/learning.png" class="img-fluid" alt="testimonials image">
                                    </div>

                                    <div class="testimonials-info">
                                        <h6 class="mb-0">Fast learner</h6>  

                                        <p>I'm a fast learner, quick to adapt and master new concepts.</p>                                      
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonials-thumb d-flex">
                                    <div class="testimonials-image">
                                        <img src="static/images/creativity.png" class="img-fluid" alt="testimonials image">
                                    </div>

                                    <div class="testimonials-info">
                                        <h6 class="mb-0">Creative</h6> 

                                        <p>I excel in creative problem-solving, approaching problems from different angles.</p>                                                                               
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonials-thumb d-flex">
                                    <div class="testimonials-image">
                                        <img src="static/images/innovation.png" class="img-fluid" alt="testimonials image">
                                    </div>

                                    <div class="testimonials-info">
                                        <h6 class="mb-0">Innovative</h6>                                        

                                        <p>I am consistently innovative, relentlessly pursuing better methods and optimization.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

               </div>
          </div>
     </section>

     <section class="contact section-padding pt-0" id="contact">
      <div class="container"> 
        <div class="row">

          <div class="col-lg-6 col-md-6 col-12">
            <form action="submit_form" method="post" class="contact-form webform"  role="form">
                
                <div class="form-group d-flex flex-column-reverse">
                    <input type="text" class="form-control" name="cf-name" id="cf-name" placeholder="Your Name">

                    <label for="cf-name" class="webform-label">Full Name</label>
                </div>

                <div class="form-group d-flex flex-column-reverse">
                    <input type="email" class="form-control" name="cf-email" id="cf-email" placeholder="Your Email">

                    <label for="cf-email" class="webform-label">Your Email</label>
                </div>

                <div class="form-group d-flex flex-column-reverse">
                    <textarea class="form-control" rows="5" name="cf-message" id="cf-message" placeholder="Your Message"></textarea>

                    <label for="cf-message" class="webform-label">Message</label>
                </div>

                <button type="submit" class="form-control" id="submit-button" name="submit">Send</button>
            </form>
          </div>

            <div class="mx-auto col-lg-4 col-md-6 col-12">
                <h3 class="my-4 pt-4 pt-lg-0">Say hello !</h3>
                
                <p>If I've piqued your interest or if you have any feedback, please don't hesitate to send me a message.
                  I'm always eager to connect, learn, and grow together.</p>
            </div>

        </div>
      </div>
    </section>
     <!-- SCRIPTS -->
     <script src="static/js/jquery.min.js"></script>
     <script src="static/js/bootstrap.min.js"></script>
     <script src="static/js/smoothscroll.js"></script>
     <script src="static/js/owl.carousel.min.js"></script>
     <script src="static/js/custom.js"></script>

</body>
</html>